<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("partials/menu.ejs") %>
    <p>    name: <%=f %>
    </p>
    <p>surname: <%=i %>
    </p>
<p>my contacts :):<%=p %>
</p>
<p>about me: <%=m %>
</p>
<p>skills: <%=s %>
</p>
<p>languages: <%=l %>
</p>
    
    
    <img src="https://chudo-prirody.com/uploads/posts/2021-08/1628688071_8-p-kotik-iz-shreka-foto-s-glazami-9.jpg" alt="" srcset="">
</body>
</html>